.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  width: 100%;
  height: 100vh;
  /* To get rid of horizontal scrollbar */
  margin: 0;

  background-color: #282848;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  text-align: left;
  margin: 0.5rem 0; /*What does rem mean? */
}

input, textarea, select {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  min-height: 2.5em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #59598a;
  color: #ffffff;
}

.inline {
  width: unset; /*Unset will remove the earlier rule which set all the input elements to width: 100%*/
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto; /*Used to center the submit button, 1em covers top and bottom margins*/
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0a0a23;;
}

a {
  color: #dfdfe2;
}

button {
  display: block;
  width: 25%;
  margin: 1em auto; /*Used to center the submit button, 1em covers top and bottom margins*/
  height: 2em;
  font-size: 1.1rem;
  color: #f5f6f7;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  cursor: pointer;
}

button:hover {
  background-color: #0a0a23;;
}

/* NavBar Sticky Scroll */
.navBar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* NavBar Full List */
.navBar ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #080656;
  float: center;
}

/* NavBar Tabs */
.navBar a {
  text-decoration: none;
  padding: 20px;
  display: block;
  text-align: center;
  
}

/* NavBar Tabs when hovered on*/
.navBar a:hover {
  background-color: #59598a;
}

/* Current Tab on NavBar */
.navBar a.active {
  background-color: #242c6a;
  color: white;
}

.navBar .tabs {
  display: inline-block;
}

.navBar ul span {
  float: right;
}

.navBar  #search {
  width: 350px;
  min-height: 2em;
  margin-right: 14px;
}

.navBar input[type=text] {
  padding: 8px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  
}


/* #myBids {
  margin: 0 auto;
  max-width: 600px;
  min-width: 200px;
  width: 60vw;
  padding-bottom: 2em;
  line-height: 60px;
  font-size: 24px;
  margin-top: 80px;
} */

/* Car Card */
#cardStyle {
  padding-top: 14px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.card {
  background: linear-gradient(145deg, rgba(2, 0, 36, 0.297) 0%, rgba(9, 9, 121, 0.16) 50%, rgba(2, 0, 36, 0.358) 85%);
  margin: auto;
  border-radius: 10px;
}

#carList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  grid-gap: 1px; /* Adds spacing between grid items */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
